
.container {
  margin: auto;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container__box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 400px;
  font-size: 1em;
}

.container__box-header h2 {
  margin: 0;
  font-size: 1em;
}

.container__box-header {
  padding: 15px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 80%;
    flex-direction: column;
  }

  .container__box {
    margin-top: 10%;
    display: flex;
    height: auto;
  }
  
}