body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.button--link-style {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}